@model LicenseExpiratiomTracker3.Models.License 
@{
    ViewData["Title"] = "Update";
}

<h2>Update license </h2>
<form method="post" asp-action="Update">
    <input asp-for="id" hidden />
    <div class="mb-3">
        <label asp-for="title" class="form-label">License title:</label>
        <input asp-for="title" type="text" class="form-control" id="title">
        <span asp-validation-for="title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="startedAt" class="form-label">Started At:</label>
        <input type="date" asp-for="startedAt" class="form-control" id="startedAt">
        <span asp-validation-for="startedAt" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="endingAt" class="form-label">Ending At:</label>
        <input type="date" asp-for="endingAt" class="form-control" id="endingAt">
        <span asp-validation-for="endingAt" class="text-danger"></span>
    </div>
    <div class="form-group row mt-3">
        <div class="col-8 offset-2 row">
            <div class="col">
                <input type="submit" class="btn btn-outline-success w-75" value="Update" />
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-outline-danger w-75">Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

